/.project
/src/RGR.Core/bin/*
/src/RGR.Core/obj/*
*.tmp
*.suo
/.vs/
/.vs/*
/src/RGR.Core/wwwroot/images/CompanyLogos/*
/src/RGR.Core/wwwroot/images/ObjectPhotos/*
/src/RGR.Core/wwwroot/images/UserPhotos/*
