@font-face {
    font-family: HelveticaNeueCyr_Medium;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
   }
@font-face {
    font-family: HelveticaNeueCyr_Roman;
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
   }

.search-bar{
    color: #fff;
    position: absolute;
    width:100% !important;
    height:390px;
    background-color:#666d71;
    background: url(../images/search/back.png) no-repeat;
    background-size: cover;
    font-family: HelveticaNeueCyr_Roman;        
    padding:0;
    margin:0;    

}
.nav-tabs{
    position: relative;    
    background-color:transparent;
    text-align: center;
    font-weight: 300;
    float:none;
    width:50%;
    left:25%;
    top: 45px;
    font-size: 11pt;    
}
.nav-tabs li{
    background-color: transparent;
    border: none;     
    margin: 0;
}
.nav-tabs li a{
    border-radius: 5px 40px 0px 0;
    text-decoration:none !important;
    padding: 10px 25px 10px 10px;
    color: #fff !important;    
}
.nav-tabs > li.active > a  {  
    background-color: #22496d !important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
 
.search-box {    
   /* white-space: nowrap;        */
    height: 280px;   
    position:relative;     
}

.search-box input {
    display: none;
}

.search-box-inner {
    position: relative;
    height: 240px;
    background-color: #22496d;
    border-radius: 0 8px 8px 8px !important;    
    margin-bottom: 10px;
    text-align: center; 
    width:50%; 
    left:25%;
    top: 45px;     
}

.search-box-inner input ~label{
    height: 40px;
    padding: 10px;
    border: 1px solid #559abd;
    border-radius: 8px;     
}

.search-box-inner-radio label:nth-of-type(1){border-radius: 8px 0 0 8px;}
.search-box-inner-radio label:nth-of-type(2){border-radius: 0 8px 8px 0;}

.search-box-inner-radio, .search-box-inner-select {
    padding-bottom: 20px;
    width:100%;
}
.search-box-inner-radio input{
    position: absolute;
}
.search-box-inner-radio label{
    width: 50%;   
    display: inline-block;            
}

.search-box-inner-radio input:checked + label {
    background-color: #559abd !important;
    color:#143c60 !important;
    box-shadow: none !important;
}
.row {
    padding: 10px;
    margin: 0px;
    display:inline;    
    }
.search-box-footer{
    position: absolute;
    height: 33%;
    left:25%;
    top:83%;
    background-color: #1a3956;
    padding: 0px;
    width: 50%;
    bottom:0px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

}
.search-box-footer-inner {
    position: relative;
    margin: auto;
    margin-top: 15px;    
    }
.search-box-inner-select{    
     height: 40px;     
     padding: 10px;
     background-color: #eff0f0;
     border: 1px solid #559abd;
     border-radius: 8px;
     color: #143c60;
     float:left;
     width: 100%;
}
.inner-select{
    display: none;
    position: absolute;
}
.inner-select input{
    border: none !important;
    text-align: center;
    display: inline;
}



    


