@font-face {
    font-family: HelveticaNeueCyr_Medium;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
   }
@font-face {
    font-family: HelveticaNeueCyr_Roman;
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
   }
label 
{
    font-weight: normal !important;
}

.search-bar{
    color: #fff;
    position: absolute;
    width:100% !important;
    height:390px;
    background-color:#666d71;
    background: url(../images/search/back.png) no-repeat;
    background-size: cover;
    font-family: HelveticaNeueCyr_Roman;        
    padding:0;
    margin:0;    

}
.nav-tabs{
    position: relative;    
    background-color:transparent;
    text-align: center;
    font-weight: 300;
    float:none;
    width: 50%;
    left:25%;
    top: 45px;
    font-size: 11pt;    
}
.nav-tabs li{
    background-color: transparent;
    border: none;     
    margin: 0;    
}
.nav-tabs li a{
    border-radius: 5px 5px 0px 0;    
    text-decoration:none !important;
    padding: 10px 25px 10px 10px;
    color: #fff !important;    
}
.nav-tabs > li.active > a  {     
    background-color: #22496d !important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
 
.search-box { 
    height: 280px;   
    position:relative;     
}

.search-box input[type="radio"],
.search-box input[type="checkbox"]
 {
    display: none;
}

.search-box-inner {
    position: relative;
    height: 240px;
    background-color: #22496d;
    border-radius: 0 8px 8px 8px !important;    
    margin-bottom: 10px;
    text-align: center; 
    width:50%; 
    left:25%;
    top: 45px;     
}

.search-box-inner input ~label{
    height: 40px;
    padding: 10px;
    border: 1px solid #559abd;
    border-radius: 8px;     
}

.search-box-inner-radio label:nth-of-type(1){border-radius: 8px 0 0 8px;}
.search-box-inner-radio label:nth-of-type(2){border-radius: 0 8px 8px 0;}

.search-box-inner-radio, .search-box-inner-select {
    padding-bottom: 20px;
    width:100%;
}

.search-box-inner-radio label{
    width: 50%;   
    display: inline-block;             
}

.search-box-inner-radio input:checked + label {
    background-color: #559abd !important;
    color:#143c60 !important;
    box-shadow: none !important;
}
.search-box-inner-radio-numb {
    float: left;
    width: 100%;
    padding-bottom: 20px;                 
}
.row span {    
    padding: 10px 0px;   
    float:left;
}
.search-box-inner-radio-numb .radio_numb_panel1  span{max-width: 12%;}
.search-box-inner-radio-numb .radio_numb_panel2 span,
.search-box-inner-radio-numb .radio_floor_panel2  span {padding-right:5px;}

.search-box-inner-text input{    
    display:block;
    text-align: left;    
    height: 40px;
    width: 80%;          
    padding: 10px;
    background-color: #2f5e82;    
    color: #84abbf;
    border: 1px solid #559abd;
    border-radius: 8px;        
}


 .search-box-line { 
     float: left;       
     height: 40px;     
 }
 .search-box-line span {
     padding: 10px 10px;
     width: auto;
 }
.search-box-line span, .search-box-line input  {
     float: left;
     color: #fff;     
 }
#panel1 .search-box-line input,
#panel2 .search-box-line input {width: 25%;}
#panel3 .search-box-line input,
#panel4 .search-box-line input,
#panel5 .search-box-line input {width: 27%;}

#panel1 .search-box-line {position: absolute; width: 66%; top:85px; left: 34%;}
#panel2 .search-box-line {position: relative;}
#panel2 .search-box-line span {padding: 10px; min-width: 15%;}


.search-box-inner-radio-numb .radio_numb_panel1 label:nth-of-type(1){border-radius: 8px 0 0 8px; max-width:13%}
.search-box-inner-radio-numb .radio_numb_panel1 label:nth-of-type(2){border-radius: 0; max-width:13%}
.search-box-inner-radio-numb .radio_numb_panel1 label:nth-of-type(3){border-radius: 0; max-width:13%}
.search-box-inner-radio-numb .radio_numb_panel1 label:nth-of-type(4){border-radius: 0 8px 8px 0; max-width:30%}

.search-box-inner-radio-numb .radio_floor_panel2  label:nth-of-type(1){border-radius: 8px 0 0 8px; max-width:15%}
.search-box-inner-radio-numb .radio_floor_panel2 label:nth-of-type(2){border-radius: 0; max-width:15%}
.search-box-inner-radio-numb .radio_floor_panel2 label:nth-of-type(3){border-radius: 0 8px 8px 0; max-width:37%}

.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(1){border-radius: 8px 0 0 8px; max-width:11%}
.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(2){border-radius: 0; max-width:11%}
.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(3){border-radius: 0; max-width:11%}
.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(4){border-radius: 0; max-width:11%}
.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(5){border-radius: 0; max-width:11%}
.search-box-inner-radio-numb .radio_numb_panel2 label:nth-of-type(6){border-radius: 0 8px 8px 0; max-width:25%}

#panel2 .col-lg-4 {width: 32%;}
#panel2 .col-lg-2 {width:23%; padding-left:5px;}
#panel2 .col-lg-6 {width: 45%;}

#panel3 .search-box-line  {
    width: 100%;
}
#panel3 .search-box-line .search-box-inner-select,
#panel5 .search-box-line .search-box-inner-select {     
    background-color: transparent;
    color: #fff;   
}
#panel3 .col-lg-6, #panel4 .col-lg-6, #panel5 .col-lg-5   {padding-top: 0; padding-right:0;}
#panel3 .col-lg-3 {width: 22%;}
#panel3 .col-lg-4 {width: 32%;}
#panel3 .col-lg-2 {width: 24%;}

#panel3 .inner-select, #panel5 .inner-select {
    background-color: #22496d;
}
#panel4 .col-lg-4 { margin: 0;}
#panel4 .search-box-inner-radio {padding-bottom:0;}


.search-box-line-inner{

}

.row {    
    margin: 0px !important;
    display:inline;   
    padding: 10px 0; 
    }

/*Выпадающие списки*/
.search-box-inner-select{
    position: relative;    
     font-weight: 300;
     text-align: left;    
     height: 40px;     
     padding: 10px;
     background-color: #eff0f0;
     border: 1px solid #559abd;
     border-radius: 8px;
     color: #143c60;
     float:left;     
}

.search-box-inner-select :hover ~.inner-select,
.inner-select :hover
{
    display: block;       
}

.inner-select{
    white-space:nowrap;
    display: none;
    position: absolute;
    left:-0.5px;
    top: 85%;    
    z-index: 2;
    height: auto;
    width: 101%;
    border: 1px solid #559abd;    
    border-radius: 0 0 8px 8px; 
    border-top: none;  
    background-color: #eff0f0;
}
.inner-select label:before{
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px;
	position: absolute;
	left: 0;    	
	background-color: transparent;       
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    
}
.inner-select input ~label{ 
    display: block;
    width: auto;
    border: none;
    padding: 3px 40px;    
}
.inner-select label:nth-of-type(1) {
    border-radius: 0;
    margin-top: 7px;
    border-top: 1px solid #559abd; 
    padding-top: 10px;
}

/*Подвал формы*/
.search-box-footer{
    position: absolute;
    text-align: center;
    height: 33%;
    width: 100%!important;
    left:0;
    top:67%;
    background-color: #1a3956;
    padding: 0px;
    width: 50%;
    bottom:0px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

}
.search-box-footer-inner {    
    position: relative;
    margin: auto;
    margin-top: 15px;    
    }

.search-box-footer input{
    position:relative;
    left: 39%;   
    display: block;             
    border-radius: 7px;
    background-color: #f8bd09;
    border-bottom-color: #c89807;
    border-right-color: #f8bd09;
    border-top-color: #fee28b;
    border-left-color:#f8bd09;
    color:#0d2f4d;
    width: 22%;
    height: 53px;    
    font-size: medium;
    font-weight: 600;    
}
.search-box-footer input:hover {
    background-color: #e9b30f;
}
.search-box-footer-inner label {
    position: absolute;
    border: 1px solid;
    border-color: #f9ce49;
    border-radius: 5px;
    background-color: #d3a20a;
    width: 31px;
    height: 31px !important;
    left: 55.5%;
    top: 12px;
    margin: 0;

}
.search-box-footer-inner-label {
    position: absolute;
    margin: auto;     
    top: 13%;
    left: 23%;   
    text-align: center;
    font-size: small;
    font-weight: 500;
    color: #0d2f4d;
}

.search-box-footer-inner img {
    position: absolute;
    width: 15px;
    height: 16px;
    top: 18px;
    left: 42%;
}
.search-box-footer a ,
.search-box-footer a:active,
.search-box-footer a:focus {
    text-decoration: none;
    color: #fff; 
}
.search-box-footer a:hover {color: #559abd; text-decoration: none;}


   




    


