
.search-box-head {
    border-bottom: 2px solid #eff0f0;
    text-transform:uppercase;       
    text-align: left;
    font-weight:600;
    color: #a6a6a6;
}
.search-box-head a,
.search-box-head a:hover,
.search-box-head a:active,
.search-box-head a:focus{
    text-decoration: none;
    margin-left: 5px;
    color: #a6a6a6;
    outline: none;
}
.search-result {
    height: auto;
    width: 100%;
    min-width: 900px;
    padding: 0;
    margin: 50px 0;
    font-family: HelveticaNeueCyr_Roman;
    text-align: left;      
}
 .search-result input {
     padding: 10px;
     margin: 0 10px;
     color: #fff;
     background: #22496d;
     border-radius: 8px;
     border: none;
 }
 .search-result-box {
     margin: 10px;
     background: #fff;
     border-radius: 8px;
     font-size: 8pt;
 }
 .search-result-box .row {
     margin-bottom:20px; 
     border-bottom: 2px solid #eff0f0;             
 }
 
 .search-result-box h1 {
     padding:0;
     margin: 0;
     height: auto;
     font-size: 11pt;
     font-weight:100;
 }
 .search-result-box span {
     padding:0;
     border-bottom: 1px solid #eff0f0;
     float: none;
     line-height: 1.5;
 }

  #bodyResult .col-lg-1,
  #bodyResult .col-lg-2,
  #bodyResult .col-lg-3 {
      height: 130px;
      overflow: visible;
      border-bottom: 2px solid #eff0f0;          

  }
 .search-result-box .col-lg-1 {width:12.5%;}
.search-result-box .col-lg-2 {width:15%;}
.search-result-box .col-lg-3 {width: 20%;}
.search-result-box .col-lg-4 {width: 45%;}
.search-result-box .col-lg-9 {width: 55%;}

.search-result-footer {
    text-align: center;
    padding: 30px 25%;
    font-size: 11pt;
    border-bottom: 2px solid #eff0f0;
}
.search-result-footer a,
.search-result-footer a:hover,
.search-result-footer a:active,
.search-result-footer a:focus  {
    margin-left: 20%;
    color: #559abd;
    text-decoration: none;
}
.search-result-box p{
    font-size: 10pt;
    height: 20px;
}
.search-result-section {
    background-color: #559abd;
    color: #fff;
    text-align: center;
    font-size: 11pt;
}
.search-result-row-sm, .search-result-row-lg
{
    float: left;    
    margin:0;
    padding: 0;
}
.search-result-row-sm {width: 35%;}
.search-result-row-lg {width: 65%;}

.search-result-row-sm .row {
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
}
.search-result-row-sm img{
    padding: 0 20%;   
}
.search-result-row-lg .col-lg-4,
.search-result-row-lg .col-lg-9 {
    height: 50px;
    padding: 10px 10px 10px 15px;
}
.search-result-row-lg h1 {
    padding-top: 10px;
}
.search-result-row-lg .search-box-head,
.search-result-row-lg .row,
.search-result-row-sm .row {
    border: none;
}    





