@using RGR.Core.Views.Helpers;
@using RGR.Core.Common;
@using RGR.Core.Common.Enums;

@{
    ViewData["Title"] = "Добавление объекта";
}

@{
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=tr-TR" type="text/javascript"></script>
    
}
<head>
    <script src="~/js/upload-1.js"></script>
    <script src="~/js/add-object.js"></script>
</head>


<div class="content-inner">
    <div class="add-objects-content">
        <h3>Добавить объект</h3>
        <div class="head-separator">
            <h4>Тип объекта</h4><div id="separ1" class="separator"></div>
        </div>
        <div class="add-object-inner">
            @*Основные вкладки*@
            <ul id="add-objects-tabs" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#addTypeObj1">Квартира</a></li>
                <li><a data-toggle="tab" href="#addTypeObj2">Дом</a></li>
                <li><a data-toggle="tab" href="#addTypeObj3">Гараж</a></li>
                <li><a data-toggle="tab" href="#addTypeObj4">Участок</a></li>
                <li><a data-toggle="tab" href="#addTypeObj5">Для бизнеса</a></li>
            </ul>

            <div class="tab-content">
                @*////Вкладка Квартира////*@
                <div id="addTypeObj1" class="tab-pane in active">
                    <ul id="add-flat-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeFlat1">Комната</a></li>
                        <li><a data-toggle="tab" href="#addTypeFlat2">Квартира</a></li>                        
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Комната////*@
                            <div id="addTypeFlat1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="1">
                                    <h4>Адрес</h4>
                                    <input type="text" id="add-adress" name="input-add-middle" placeholder="Введите адрес" onchange="change()" required />
                                    <div id="map-block"></div>
                                    <h4>Информация по дому</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Тип дома</h5>
                                            <select>
                                                <option value="&">ж.н.к.</option>
                                                <option value="&">м/с (общежитие)</option>
                                                <option value="&">"Сталинка"</option>
                                                <option value="&">"Хрущевка"</option>
                                                <option value="&">"Улучшенка"</option>
                                                <option value="&">"Новой планировки"</option>
                                                <option value="&">Индивидуальная планировка</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Материал постройки</h5>
                                            <select>
                                                <option value="&">Дерево</option>
                                                <option value="&">Кирпич</option>
                                                <option value="&">Панель</option>
                                                <option value="&">Монолит</option>
                                                <option value="&">Другой</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Материал перекрытий</h5>
                                            <select>
                                                <option value="&">Железобетон</option>
                                                <option value="&">Металл</option>
                                                <option value="&">Дерево</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Год постройки</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Этажность дома</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Парковка</h5>
                                            <select>
                                                <option value="&">Нет</option>
                                                <option value="&">Рядом</option>
                                                <option value="&">Отдельная</option>
                                                <option value="&">Охраняемая</option>
                                                <option value="&">Подземная</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Безопасность</h5>
                                            <div class="add-object-checkbox">
                                                <input name="security" type="checkbox" value="&" id="ad-o-sec1" /><label for="ad-o-sec1">Охрана</label>
                                                <input name="security" type="checkbox" value="&" id="ad-o-sec2" /><label for="ad-o-sec2">Консьерж</label>
                                                <input name="security" type="checkbox" value="&" id="ad-o-sec3" /><label for="ad-o-sec3">Закрытая территория</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Лифт</h5>
                                            <div class="add-object-checkbox">
                                                <input name="lift" type="checkbox" value="&" id="ad-o-lift1" /><label for="ad-o-lift1">Пассажирский</label>
                                                <input name="lift" type="checkbox" value="&" id="ad-o-lift2" /><label for="ad-o-lift2">Грузовой</label>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Информация по дому</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Этаж</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>

                                        <div class="col-lg-3">
                                            <h5>Количество комнат</h5>
                                            <select>
                                                <option value="&">1</option>
                                                <option value="&">2</option>
                                                <option value="&">3</option>
                                                <option value="&">4 и более</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Количество комнат на продажу</h5>
                                            <select>
                                                <option value="&">1</option>
                                                <option value="&">2</option>
                                                <option value="&">3</option>
                                                <option value="&">4 и более</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5 id="ico-quest"><label>Тип комнат</label></h5>
                                            <select>
                                                <option value="&">Раздельные</option>
                                                <option value="&">Смежные</option>
                                                <option value="&">Смежно-раздельные</option>
                                                <option value="&">"Икарус"</option>
                                                <option value="&">Свободная планировка</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Общая площадь(м²)</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Площадь комнат(м²)</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Кухня</h5>
                                            <select>
                                                <option value="&">Отдельная</option>
                                                <option value="&">Проходная</option>
                                                <option value="&">Нет</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Площадь кухни(м²)</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Состояние</h5>
                                            <select>
                                                <option value="&">После строителей</option>
                                                <option value="&">Требуется кап.ремонт</option>
                                                <option value="&">Требуется космет.ремонт</option>
                                                <option value="&">Удовлетворительное</option>
                                                <option value="&">Хорошее</option>
                                                <option value="&">Отличное</option>
                                                <option value="&">"Евроремонт"</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Санузел</h5>
                                            <select>
                                                <option value="&">Раздельный</option>
                                                <option value="&">Совмещенный</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Количество</h5>
                                            <input type="text" id="add-double1" name="input-add-double" placeholder="Балконов" /><input type="text" id="add-double2" name="input-add-double" placeholder="Лоджий" />
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Окна выходят</h5>
                                            <select>
                                                <option value="&">Во двор</option>
                                                <option value="&">На улицу</option>
                                                <option value="&">Во двор и на улицу</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h4>Описание</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Подробное описание объекта</h5>
                                            <textarea type="text" maxlength="100000"></textarea>
                                        </div>
                                    </div>
                                    <h4>Фотографии</h4>
                                    <div id="add-photo">
                                        <p>Перетащите сюда файлы или <label><input type="file" accept="image/jpeg,image/png,image/gif" multiple  id="add-but" onclick="defaultUploadBtn()" /><span>выберите на компьютере</span></label></p>
                                        <h6>Максимальное количество фотографий — 20. Максимальный размер фотографии — 5 МБ.</h6>
                                        <div id="list-block">
                                            <div id="photo-row" class="row"></div>                                            
                                        </div>
                                    </div>
                                    <h4>Видео</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Ссылка на видео на YouTube</h5>
                                            <input type="text" name="input-add-middle" />
                                        </div>
                                    </div>
                                    <h4>Условия сделки</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Цена</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                        <div class="col-lg-3" id="add-currency">
                                            <h5>Валюта</h5>
                                            <input type="radio" name="input-add-currency" id="ruble" value="&" /><label for="ruble">₽</label><input type="radio" name="input-add-currency" id="dollar" value="&" /><label for="dollar">$</label><input type="radio" name="input-add-currency" id="euro" value="&" /><label for="euro">€</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="add-object-checkbox" id="add-sale">
                                                <div class="row">
                                                    <div class="col-lg-5"><input name="sale" type="checkbox" id="ad-o-sale1" /><label for="ad-o-sale1">Торг</label></div>
                                                    <div class="col-lg-5"><input name="sale" type="checkbox" id="ad-o-sale2" /><label for="ad-o-sale2">Ипотека</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Комиссия по покупке</h5>
                                            <input type="text" name="input-add-small" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Вид собственности</h5>
                                            <select>
                                                <option value="&">Аренда</option>
                                                <option value="&">Бессрочное пользование</option>
                                                <option value="&">Долевое участие (право требования)</option>
                                                <option value="&">Неприватизированная</option>
                                                <option value="&">Оперативное управление</option>
                                                <option value="&">Собственность</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Тип договора</h5>
                                            <select>
                                                <option value="&">Без договора</option>
                                                <option value="&">Договор</option>
                                                <option value="&">Мультилистинг</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <h4>Контакты</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Контактное лицо</h5>
                                            <select></select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Объект относиться к клиенту</h5>
                                            <input type="text" name="input-add-small" placeholder="Начните вводить имя.." />
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <div class="row" id="add-button">
                                        <div class="col-lg-2"></div><div class="col-lg-2"></div>
                                        <div class="col-lg-4">
                                            <input type="submit" value="Опубликовать" id="but-sub-image" class="but-personal" />
                                            <input type="reset" value="Отмена" id="but-res-image" class="but-simple" />
                                        </div>
                                        <div class="col-lg-2"></div><div class="col-lg-2"></div>
                                    </div>





                                </form>                            
                            </div>
                            @*////Подвкладка Квартира////*@
                            <div id="addTypeFlat2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="2">
                                </form> 
                            </div>
                        </div>                            
                    </div>                        
                </div>

                @*////Вкладка Дом////*@
                <div id="addTypeObj2" class="tab-pane">
                    <ul id="add-house-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeHouse1">Дом, коттедж</a></li>
                        <li><a data-toggle="tab" href="#addTypeHouse2">Таунхаус</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Дом, коттедж////*@
                            <div id="addTypeHouse1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="3">
                                </form>
                            </div>
                            @*////Подвкладка Таунхаус////*@
                            <div id="addTypeHouse2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="3">
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>

                @*////Вкладка Гараж////*@
                <div id="addTypeObj3" class="tab-pane">
                    <ul id="add-garage-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeGarage1">Гараж</a></li>
                        <li><a data-toggle="tab" href="#addTypeGarage2">Парковочное место</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Гараж////*@
                            <div id="addTypeGarage1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="6">
                                </form>
                            </div>
                            @*////Подвкладка Парковочное место////*@
                            <div id="addTypeGarage2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="6">
                                </form>
                            </div>
                        </div>
                    </div>                    
                </div>

                @*////Вкладка Участок////*@
                <div id="addTypeObj4" class="tab-pane">
                    <div class="inner-content">
                        <form action="*">
                            <input type="hidden" name="objType" value="4">
                        </form>
                    </div>
                </div>

                @*////Вкладка Для бизнеса////*@
                <div id="addTypeObj5" class="tab-pane">
                    <ul id="add-office-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeOffice1">Помещение</a></li>
                        <li><a data-toggle="tab" href="#addTypeOffice2">Здание</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Помещение////*@
                            <div id="addTypeOffice1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="5">
                                </form>
                            </div>
                            @*////Подвкладка Здание////*@
                            <div id="addTypeOffice2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="5">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>