@using RGR.Core.Views.Helpers;
@using RGR.Core.Common;
@using RGR.Core.Controllers.Enums;

@{
    ViewData["Title"] = "Добавление объекта";
}

<div class="content-inner">
    <h3>Добавить объект</h3>
    <div class="head-separator">
        <h4>Тип объекта</h4><div class="separator"></div>
    </div>
</div>