@using RGR.Core.Views.Helpers;
@using RGR.Core.Common;
@using RGR.Core.Controllers.Enums;

@{
    ViewData["Title"] = "Добавление объекта";
}

<div class="content-inner">
    <div class="add-objects-content">
        <h3>Добавить объект</h3>
        <div class="head-separator">
            <h4>Тип объекта</h4><div class="separator"></div>
        </div>
        <ul id="add-objects-tabs" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#addTypeObj1">Квартира</a></li>
            <li><a data-toggle="tab" href="#addTypeObj2">Дом</a></li>
            <li><a data-toggle="tab" href="#addTypeObj3">Гараж</a></li>
            <li><a data-toggle="tab" href="#addTypeObj4">Участок</a></li>
            <li><a data-toggle="tab" href="#addTypeObj5">Для бизнеса</a></li>
        </ul>
        <div class="tab-content">
            <div id="addTypeObj1" class="tab-pane in active"></div>
            <div id="addTypeObj2" class="tab-pane"></div>
            <div id="addTypeObj3" class="tab-pane"></div>
            <div id="addTypeObj4" class="tab-pane"></div>
            <div id="addTypeObj5" class="tab-pane"></div>
        </div>
    </div>
</div>