
@using RGR.Core.Common;
@using RGR.Core.Views.Shared.Components
@using RGR.Core.Views.Helpers
    
@{
    ViewData["Title"] = "Личный кабинет";
}
@{
    var objects = SearchResult.Deserialize((string)ViewData["MyObjects"]);
}
@*@{ 
    int statRoomsFlats = PersonalObjects.StatisticsObject(objects, 1);
    int statHouses = PersonalObjects.StatisticsObject(objects, 2);
    int statGarages = PersonalObjects.StatisticsObject(objects, 3);
    int statLands = PersonalObjects.StatisticsObject(objects, 4);
    int statOffices = PersonalObjects.StatisticsObject(objects, 5);
}*@
    
    <div class="account-block">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#account_p1">Мой офис</a></li>
            <li><a data-toggle="tab" href="#account_p2">Мои объекты</a></li>
            <li><a data-toggle="tab" href="#account_p3">Мои запросы</a></li>
            <li><a data-toggle="tab" href="#account_p4">Моя компания</a></li>
        </ul>
        <div class="content-inner">
            <div class="tab-content">
                <div id="account_p1" class="tab-pane in active  ">
                    <form action="search">
                        <h3>Мой офис</h3>
                        <div class="row">
                            <div class="col-lg-6"> <h4>Мои объекты</h4></div>
                            <div class="col-lg-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="account-office-table">
                                    <tr>
                                        <th>Тип</th>
                                        <th>Количество</th>
                                        <th>Совпадения</th>
                                    </tr>
                                    <tr><td>Квартиры, комнаты</td><td>{statRoomsFlats}</td><td>  @*Совпадения*@</td></tr>
                                    <tr><td>Дома, коттеджи</td><td>{statHouses}</td><td>@*Совпадения*@</td></tr>
                                    <tr><td>Участки</td><td>{statGarages}</td><td>@*Совпадения*@</td></tr>
                                    <tr><td>Гаражи</td><td>{statLands}</td><td>@*Совпадения*@</td></tr>
                                    <tr style="border: none;"><td>Для бизнеса</td><td>{statOffices}</td><td>@*Совпадения*@</td></tr>
                                </table>
                            </div>
                            <div class="col-lg-6"></div>
                        </div>
                    </form>
                </div>

                <div id="account_p2" class="tab-pane  ">
                    <form>
                        <h3>Мои объекты</h3>
                        <div class="row" id="account_r1">
                            <div class="col-lg-7">
                                <div class="search-box-inner-radio">
                                    <input name="myObj" id="mOb1" type="checkbox" value="0" checked /><label for="mOb1">Мои объекты</label><input name="myObj" id="mOb2" type="checkbox" value="1" /><label for="mOb2">Объекты компании</label><input name="myObj" id="mOb3" type="checkbox" value="2" /><label for="mOb3">Все объекты</label>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <a class="but-personal" asp-action="AddObject" asp-controller="Account">+ Добавить</a>
                            </div>
                        </div>
                        <h5>Статус объектов:</h5>
                        <div class="row" id="account_r2">
                            <div class="col-lg-12">
                                <div class="search-box-inner-radio">
                                    <input name="stat" id="st1" type="checkbox" value="0" checked /><label for="st1">Черновики</label><input name="stat" id="st2" type="checkbox" value="1" /><label for="st2">Активные</label><input name="stat" id="st3" type="checkbox" value="2" /><label for="st3">Внесён аванс</label><input name="stat" id="st4" type="checkbox" value="3" /><label for="st4">Сделка</label><input name="stat" id="st5" type="checkbox" value="4" /><label for="st5">Снято с продажи</label><input name="stat" id="st6" type="checkbox" value="5" /><label for="st6">Снято временно</label>
                                </div>
                            </div>
                        </div>
                        <h5>Тип объектов:</h5>                        
                        <div class="objects-inner">
                            <ul id="objects-tabs" class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#typeObj1">Комната</a></li>
                                <li><a data-toggle="tab" href="#typeObj2">Квартира</a></li>
                                <li><a data-toggle="tab" href="#typeObj3">Дом</a></li>
                                <li><a data-toggle="tab" href="#typeObj4">Гараж</a></li>
                                <li><a data-toggle="tab" href="#typeObj5">Участок</a></li>
                                <li><a data-toggle="tab" href="#typeObj6">Для бизнеса</a></li>
                            </ul>
                            @await Component.InvokeAsync("PersonalObjects", new { Source = objects })
                        </div>             
                    </form>
                </div>

                <div id="account_p3" class="tab-pane  ">
                </div>
                <div id="account_p4" class="tab-pane  ">
                </div>
            </div>
        </div>
    </div>

