@using RGR.Core.Controllers;
@{
    ViewData["Title"] = "ListUsers";
}
<h2>@ViewData["Title"]</h2><br /><br />
<h3>@ViewData["Message"]</h3><br />
<p><font size="1">@ViewData["List"]</font></p>

