@using RGR.Core.Views.Helpers;
@using RGR.Core.Common;
@using RGR.Core.Common.Enums;
@using Microsoft.AspNetCore.Html;
@using System.Text;

@functions{
    public HtmlString RenderUserList()
    {
        var sb = new StringBuilder("");
        foreach(var user in (IEnumerable<string>)ViewData["Users"])
        {
            sb.Append($"<option value={user}>{user}</option>");
        }
        return new HtmlString(sb.ToString());
    }
}

@{
    ViewData["Title"] = "Добавление объекта";
}

}
<head>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script>
    //Yandex map
    var map;

    ymaps.ready(init);

    function init() {
        map = new ymaps.Map('map-block', {
            center: [48.48272, 135.08379],
            zoom: 10
        });

        //myPlacemark = new ymaps.Placemark([48.48888324, 135.08322577], {
        //    hintContent: 'РГР ДФО',
        //    balloonContent: 'ул. Карла Маркса, 65-102А'
        //});

        //map.geoObjects.add(myPlacemark);
    }


    //Change color in textbox (id add-adress)
    function change() {
        document.getElementById("add-adress").style.color = "#559abd";
    }

    //Определение координат по адресу
    function getGeoCode(address) {
        map.geoObjects.removeAll();
        //map.geoObjects.Add(new ymaps.Geocoder(address, { results: 1, boundedBy: map.getBounds() }))
        var geocoder = ymaps.geocode(address);

        geocoder.then(
            function (res) {
                map.geoObjects.add(res.geoObjects);
                var coords = res.geoObjects.get(0).geometry.getCoordinates();                
                document.getElementById('addLat').value = coords[0];
                document.getElementById('addLong').value = coords[1];
                //document.getElementById('addYAddr').value = res.geoObjects.get(0).properties.get('text');                
                geoResult = res.geoObjects.get(0);
                var local = geoResult.getLocalities();
                var thor = geoResult.getThoroughfare();
                var prem = geoResult.getPremiseNumber();
                document.getElementById('loc').value = local;
                document.getElementById('thor').value = thor;
                document.getElementById('prem').value = prem;               
                 
            },
            function (err) {
                alert(err);
            });
    }

    //Определение адреса по координатам
    //function getAddr(coordinares) {
    //    alert(coordinates);
    //    var geocoder = ymaps.geocode(coordinates);
    //    alert(geocoder);
    //    geocoder.then(
    //        function (res) {
    //            alert(res.geoObjects.get(0))

    //        },
    //        function (err) {
    //            alert(err);
    //        });
        //}

    function ajaxCoordsObject()
    {
        $.ajax({
            type: "GET",
            url: "http://geocode-maps.yandex.ru/1.x/",
            data: 'geocode=' + lng + ',' + lat + '&format=json&kind=house&results=2&key=_здесь_нужен_АПИ_ключ_яндекс_',
            dataType: "JSON", timeout: 30000, async: false,
            error: function (xhr) {
                rescont += 'Ошибка геокодирования: ' + xhr.status + ' ' + xhr.statusText;
            }
        });
        
    }
    </script>



    <script src="~/js/upload-1.js"></script>
    @*<script src="~/js/add-object.js"></script>*@
</head>


<div class="content-inner">
    <div class="add-objects-content">
        <h3>Добавить объект #@ViewData["EstateId"]</h3>
        <div class="head-separator">
            <h4>Тип объекта</h4><div id="separ1" class="separator"></div>
        </div>
        <div class="add-object-inner">
            @*Основные вкладки*@
            <ul id="add-objects-tabs" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#addTypeObj1">Квартира</a></li>
                <li><a data-toggle="tab" href="#addTypeObj2">Дом</a></li>
                <li><a data-toggle="tab" href="#addTypeObj3">Гараж</a></li>
                <li><a data-toggle="tab" href="#addTypeObj4">Участок</a></li>
                <li><a data-toggle="tab" href="#addTypeObj5">Для бизнеса</a></li>
            </ul>

            <div class="tab-content">
                @*////Вкладка Квартира////*@
                <div id="addTypeObj1" class="tab-pane in active">
                    <ul id="add-flat-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeFlat1">Квартира</a></li>
                        <li><a data-toggle="tab" href="#addTypeFlat2">Комната</a></li>                        
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Квартира////*@
                            <div id="addTypeFlat1" class="tab-pane in active">
                                <form action="Estate/Publish" method="post" id="addObjects">
                                    <input type="hidden" id="loc" name="City"/>
                                    <input type="hidden" id="thor" name="Street" />
                                    <input type="hidden" id="prem" name="House" />
                                    <input type="hidden" id="addLat" name="Latitude"/>
                                    <input type="hidden" id="addLong" name="Longitude"/>                                    
                                    <input type="hidden" name="EstateType" value=2>
                                    <input type="hidden" name="EstateId" value=@ViewData["EstateId"]>
                                    <h4>Адрес</h4>
                                    <div class="row">
                                        <div class="col-lg-6"><input type="text" id="add-adress" class="input-add-small" name="Address" onblur="ymaps.ready(getGeoCode(document.getElementById('add-adress').value))" placeholder="Например: г. Хабаровск, ул. Ленина, 123 - 45" required /></div>
                                        <div class="col-lg-6"><input type="text" style="width:40%;" name="add-numbFlat" placeholder="Введите номер квартиры" /></div>
                                    </div>                                    
                                    <div id="map-block"></div>
                                    <h4>Информация по дому</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Тип дома</h5>
                                            <select id="add-houseType" name="HouseType">
                                                <option value=138>ж.н.к.</option>
                                                <option value=143>Общежитие</option>
                                                <option value=144>"Сталинка"</option>
                                                <option value=146>"Хрущевка"</option>
                                                <option value=145>"Улучшенка"</option>
                                                <option value=142>"Новой планировки"</option>
                                                <option value=139>Индивидуальная планировка</option>
                                                <option value=140>Малосемейное</option>
                                                <option value=147>Элитный</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Материал постройки</h5>
                                            <select id="add-buildingMat" name="BuildingMaterial">
                                                <option value="61">Дерево</option>
                                                <option value="62">Кирпич</option>
                                                <option value="68">Панель</option>
                                                <option value="65">Монолит</option>
                                                <option value="64">Бетонные блоки</option>
                                                <option value="66">Монолитно-кирпичный</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Материал перекрытий</h5>
                                            <select id="add-cellingMat" name="CellingMaterial">
                                                <option value="58">Железобетон</option>
                                                <option value="59">Металл</option>
                                                <option value="60">Дерево</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Год постройки</h5>
                                            <input type="number" class="input-add-small" id="add-year" name="BuildYear"/>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Этажность дома</h5>
                                            <input type="number" class="input-add-small" id="add-floorsTotal" name="FloorCount"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Парковка</h5>
                                            <select id="add-parking" name="HasParking">
                                                <option value=false>Нет</option>
                                                <option value=true>Рядом</option>
                                                <option value=true>Отдельная</option>
                                                <option value=true>Охраняемая</option>
                                                <option value=true>Подземная</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Безопасность</h5>
                                            <div class="add-object-checkbox">
                                                <input class="security" type="checkbox" value="true" id="ad-o-sec1" name="Guard"/><label for="ad-o-sec1">Охрана</label>
                                                <input class="security" type="checkbox" value="true" id="ad-o-sec2" name="Concierge"/><label for="ad-o-sec2">Консьерж</label>
                                                <input class="security" type="checkbox" value="true" id="ad-o-sec3" name="TerritoryClosed"/><label for="ad-o-sec3">Закрытая территория</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Лифт</h5>
                                            <div class="add-object-checkbox">
                                                <input class="lift" type="checkbox" value="true" id="ad-o-lift1" name="ElevatorPassenger"/><label for="ad-o-lift1">Пассажирский</label>
                                                <input class="lift" type="checkbox" value="true" id="ad-o-lift2" name="ElevatorCargo"/><label for="ad-o-lift2">Грузовой</label>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Информация по квартире</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Этаж</h5>
                                            <input type="number" class="input-add-small" id="add-floor" name="FloorNumber"/>
                                        </div>

                                        <div class="col-lg-3">
                                            <h5>Количество комнат</h5>
                                            <select id="add-roomsCount" name="RoomsCount">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5 и более</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3" id="add-sellRoomsCount">
                                            <h5>Количество комнат на продажу</h5>
                                            <select name="RoomsForSaleCount">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5 и более</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5 id="ico-quest"><label>Тип комнат</label></h5>
                                            <select id="add-roomsType" name="RoomsType">
                                                <option value=12>Раздельные</option>
                                                <option value=13>Смежные</option>
                                                <option value=14>Смежно-раздельные</option>
                                                <option value=15>"Икарус"</option>
                                                <option value=16>Свободная планировка</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Общая площадь (м²)</h5>
                                            <input type="number" class="input-add-small" id="add-areaTotal" name="CommonArea"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Площадь комнат(м²)</h5>
                                            <input type="number" class="input-add-small" id="add-areaLiving" name="RoomsArea"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Кухня</h5>
                                            <select id="add-kitchen" name="Kitchen">
                                                <option value="188">Отдельная</option>
                                                <option value="190">Проходная</option>
                                                <option value=null>Нет</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Площадь кухни (м²)</h5>
                                            <input type="number" class="input-add-small" id="add-areaKitchen" name="KitchenArea"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Состояние</h5>
                                            <select id="add-flatState" name="State">
                                                <option value=85>После строителей</option>
                                                <option value=86>Требуется кап.ремонт</option>
                                                <option value=88>Требуется космет.ремонт</option>
                                                <option value=89>Удовлетворительное</option>
                                                <option value=91>Хорошее</option>
                                                <option value=92>Отличное</option>
                                                <option value=93>"Евроремонт"</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Санузел</h5>
                                            <select id="add-wc" name="SeparatedWC">
                                                <option value=true>Раздельный</option>
                                                <option value=false>Совмещенный</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Количество</h5>
                                            <input type="number" id="add-double1" class="input-add-double" name="BalconiesCount" placeholder="Балконов" /><input type="number" id="add-double2" class="input-add-double" name="LogiasCount" placeholder="Лоджий" />
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Окна выходят</h5>
                                            <select id="add-windowsLookAt" name="WindowsLookAt">
                                                <option value="174">Во двор</option>
                                                <option value=null>На улицу</option>
                                                <option value=null>Во двор и на улицу</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h4>Описание</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Подробное описание объекта</h5>
                                            <textarea type="text" maxlength="100000" id="add-description" name="Description"></textarea>
                                        </div>
                                    </div>
                                    <h4>Фотографии</h4>
                                    <div id="add-photo">
                                        <p>Перетащите сюда файлы или <label><input type="file" accept="image/jpeg,image/png,image/gif" multiple  id="add-but" onclick="defaultUploadBtn()" /><span>выберите на компьютере</span></label></p>
                                        <h6>Максимальное количество фотографий — 20. Максимальный размер фотографии — 1 МБ.</h6>
                                        <div id="list-block">
                                            <div id="photo-row" class="row"></div>                                            
                                        </div>
                                    </div>
                                    <h4>Видео</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Ссылка на видео на YouTube</h5>
                                            <input type="text" class="input-add-middle" id="add-video" name="YouTubeLink"/>
                                        </div>
                                    </div>
                                    <h4>Условия сделки</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Цена</h5>
                                            <input type="number" class="input-add-small" id="add-price" name="Price"/>
                                        </div>
                                        <div class="col-lg-3" id="add-currency">
                                            <h5>Валюта</h5>
                                            <input type="radio" name="input-add-currency" id="ruble" value="&" /><label for="ruble"><font class="ruble">₽</font></label><input type="radio" name="input-add-currency" id="dollar" value="&" /><label for="dollar"><font class="ruble">$</font></label><input type="radio" name="input-add-currency" id="euro" value="&" /><label for="euro"><font class="ruble">€</font></label>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="add-object-checkbox" id="add-sale">
                                                <div class="row">
                                                    <div class="col-lg-5"><input class="sale" type="checkbox" id="ad-o-sale1" name="Negotiable" value=true/><label for="ad-o-sale1">Торг</label></div>
                                                    <div class="col-lg-5"><input class="sale" type="checkbox" id="ad-o-sale2" name="Hypothec" value=true/><label for="ad-o-sale2">Ипотека</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Комиссия по покупке</h5>
                                            <input type="number" class="input-add-small" id="add-comission" name="Comission"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Вид собственности</h5>
                                            <select id="add-propertyType" name="PropertyType">
                                                <option value=238>Аренда</option>
                                                <option value=319>Бессрочное пользование</option>
                                                <option value=320>Долевое участие (право требования)</option>
                                                <option value=321>Неприватизированная</option>
                                                <option value=322>Оперативное управление</option>
                                                <option value=323>Собственность</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Тип договора</h5>
                                            <select id="add-contractType" name="ContractType">
                                                <option value=265>Без договора</option>
                                                <option value=266>Договор</option>
                                                <option value=354>Мультилистинг</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <h4>Контакты</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5>Контактное лицо</h5>
                                            <select id="add-contactPersonId" name="ContactUser">@RenderUserList()</select>
                                        </div>
                                        <div class="col-lg-3">
                                            <h5>Объект относится к клиенту</h5>
                                            <input type="text" class="input-add-small" name="Client" id="add-client" placeholder="Начните вводить имя.." />
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <div class="row" id="add-button">
                                        <div class="col-lg-2"></div><div class="col-lg-2"></div>
                                        <div class="col-lg-4">
                                            <input type="submit" value="Опубликовать" id="but-sub-image" class="but-personal" />
                                            <input type="reset" value="Отмена" id="but-res-image" class="but-simple" />
                                        </div>
                                        <div class="col-lg-2"></div><div class="col-lg-2"></div>
                                    </div>





                                </form>                            
                            </div>
                            @*////Подвкладка Квартира////*@
                            <div id="addTypeFlat2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="2">
                                </form> 
                            </div>
                        </div>                            
                    </div>                        
                </div>

                @*////Вкладка Дом////*@
                <div id="addTypeObj2" class="tab-pane">
                    <ul id="add-house-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeHouse1">Дом, коттедж</a></li>
                        <li><a data-toggle="tab" href="#addTypeHouse2">Таунхаус</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Дом, коттедж////*@
                            <div id="addTypeHouse1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="3">
                                </form>
                            </div>
                            @*////Подвкладка Таунхаус////*@
                            <div id="addTypeHouse2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="3">
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>

                @*////Вкладка Гараж////*@
                <div id="addTypeObj3" class="tab-pane">
                    <ul id="add-garage-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeGarage1">Гараж</a></li>
                        <li><a data-toggle="tab" href="#addTypeGarage2">Парковочное место</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Гараж////*@
                            <div id="addTypeGarage1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="6">
                                </form>
                            </div>
                            @*////Подвкладка Парковочное место////*@
                            <div id="addTypeGarage2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="6">
                                </form>
                            </div>
                        </div>
                    </div>                    
                </div>

                @*////Вкладка Участок////*@
                <div id="addTypeObj4" class="tab-pane">
                    <div class="inner-content">
                        <form action="*">
                            <input type="hidden" name="objType" value="4">
                        </form>
                    </div>
                </div>

                @*////Вкладка Для бизнеса////*@
                <div id="addTypeObj5" class="tab-pane">
                    <ul id="add-office-tabs" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addTypeOffice1">Помещение</a></li>
                        <li><a data-toggle="tab" href="#addTypeOffice2">Здание</a></li>
                    </ul>
                    <div class="inner-content">
                        <div class="tab-content">
                            @*////Подвкладка Помещение////*@
                            <div id="addTypeOffice1" class="tab-pane in active">
                                <form action="*">
                                    <input type="hidden" name="objType" value="5">
                                </form>
                            </div>
                            @*////Подвкладка Здание////*@
                            <div id="addTypeOffice2" class="tab-pane">
                                <form action="*">
                                    <input type="hidden" name="objType" value="5">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>