@using RGR.Core.Views.Helpers;
@using RGR.Core.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - РГР ДФО</title>

    <link rel="stylesheet" href="~/css/style-modal.css" />
    <link rel="stylesheet" href="~/css/search-bar.css" />
    <link rel="stylesheet" href="~/css/search-result.css" />       
    <link rel="stylesheet" href="~/css/master.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>    

</head>
<body>
    <div class="wrapper">
        <div class="header">

            <nav>     
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img height="75" src="~/images/logo_rgrdfo_text.png" /></a>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Members">Члены НП</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Educ">Учебный центр</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                    <li>
                        <div class="img-button">
                            @*<img src="~/images/btn_login_up.png" />*@
                            <a asp-controller="Account" asp-action="Account"><img src="~/images/btn_login_up.png" /></a>
                        </div>
                        
                    </li>
                    <li>
                        <font face="Segoe UI" size="4">(4212) 244-264</font>
                    </li>
                    <li>
                        <div class="img-block">
                            <a href="/">
                                <img height="55" src="~/images/logo_rgr.png" />
                            </a>
                        </div>
                    </li>
                </ul>                
            </nav>
        </div>       
        <div class="search-bar">
            @SearchBar.Render()            
        </div>
        <div class="content"> <!--container-->
            @RenderBody()
        </div>            
        <div class="footer">
                <br />
                <ul class="footer-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><font size="2">О нас</font></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Members"><font size="2">Члены НП</font></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Educ"><font size="2">Учебный центр</font></a></li>
                </ul>

                <div class="footer-nav-box">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img height="75" src="~/images/logo_rgrdfo.png" /></a>
                </div>
                    <font size="1"><br />&copy; 2016 - Региональная гильдия риэлторов ДФО<br />Юридический адрес: г. Хабаровск, ул. Карла Маркса 56, офис 100</font>
        </div>
    </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
- Доктор,я не ставлю пробелы после запятых,вы мне поможете?\n- Нет! Только эвтаназия!