
@using RGR.Core.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - РГР ДФО</title>
    @*<script src="~/js/map.js" type="text/javascript"></script>*@
    @*<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="~/css/qb.css" />
    <link rel="stylesheet" href="~/css/style-modal.css" />
    <link rel="stylesheet" href="~/css/search-bar.css" />
    <link rel="stylesheet" href="~/css/search-result.css" />
    <link rel="stylesheet" href="~/css/master.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/js/quickbox/qb/qb.css"/>*@
    

</head>
<body>
    <div class="wrapper">
        <div class="header">

            <nav>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img height="75" src="~/images/logo_rgrdfo_text.png" /></a>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Partners">Члены НП</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Education">Учебный центр</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                    <li><a class="login-button" asp-controller="Account" asp-action="Login"><img src="~/images/ico-door.png" /><span>Войти</span></a></li>
                    <li>
                        <div class="row">
                            <div class="col-lg-12" style="font-size:17pt; font-family: HelveticaNeueCyr_Light;">(4212) 244-264</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="color:#477ab8; font-size:12px;">Заказать обратный звонок</div>
                        </div>
                    </li>
                    <li>
                        <div class="img-block">
                            <a href="/">
                                <img height="55" src="~/images/logo_rgr.png" />
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-nav-box">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img height="75" src="~/images/logo_rgrdfo.png" /></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    &copy; 2016 - Региональная гильдия риэлторов ДФО <br />
                    Юридический адрес: г. Хабаровск, ул. Карла Маркса 56, офис 100
                </div>
                <div class="col-lg-6">
                    <ul class="footer-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Members">Члены НП</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Educ">Учебный центр</a></li>
                    </ul>
                </div>
                @*<font size="2"><br />&copy; 2016 - Региональная гильдия риэлторов ДФО<br />Юридический адрес: г. Хабаровск, ул. Карла Маркса 56, офис 100</font>*@
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
