<div class="search-bar">
    <div class="search-box">        
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#panel1">Квартира</a></li>
            <li><a data-toggle="tab" href="#panel2">Дом</a></li>
            <li><a data-toggle="tab" href="#panel4">Участок</a></li>
            <li><a data-toggle="tab" href="#panel5">Гараж</a></li>
            <li><a data-toggle="tab" href="#panel6">Для бизнеса</a></li> 
            <li><a data-toggle="tab" href="#panel6">Сохраненные запросы</a></li>            
        </ul>

        <!--Квартира-->
        <div class="tab-content">
            <div id="panel1" action="search_box" class="tab-pane in active search-box-inner">
                <div class="row">
                    <div class="col-lg-4">
                        <div style="float:left;" class="search-box-inner-radio">
                            <form action="search">
                                <input name="check_shelter" id="sh1" type="radio" checked /><label for="sh1">Квартира</label><input name="check_shelter" id="sh2" type="radio" /><label for="sh2">Комната</label>
                            </form>
                        </div>
                        <div class="search-box-inner-select">
                            <label>Тип комнат</label>
                            <div class="inner-select">
                                <form action="search">
                                    <input name="check_type" id="t1" type="checkbox" checked /><label for="t1">раздельные</label>
                                    <input name="check_type" id="t2" type="checkbox" /><label for="t1">смежные</label>
                                    <input name="check_type" id="t3" type="checkbox" /><label for="t1">смежно-раздельные</label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="search-box-inner-radio">
                            <div class="search-box-inner-radio-numb">
                                <span>Комнат</span>
                                <input name="numb" id="n1" type="radio" checked /><label for="n1">1</label><input name="numb" id="n2" type="radio" /><label for="n2">2</label><input name="numb" id="n3" type="radio" /><label for="n3">3</label><input name="numb" id="n4" type="radio" /><label for="n4">4 и более</label>
                            </div>                            
                        </div>                        
                    </div>
                    <div class="col-lg-3">
                        <div class="search-box-inner-text"><input name="id" id="i1" type="text" value="Идентификатор" /></div>
                    </div>
                </div>
                <div class="line_price">
                    <div class="search-box-inner-text">
                        <span style="padding-right: 15px;">Цена от</span><input name="price" id="p1" type="text"><span>до</span><input name="price" id="p2" type="text"><span>₽</span>
                    </div>
                </div>
            </div>
            <!--Дом-->
            <div id="panel2" action="search_box" class="tab-pane search-box-inner">

            </div>
            
            <!--Footer-->
            <div class="search-box-footer">
                <div class="search-box-footer-inner">
                    <input type="submit" value="Показать" />
                        <label><span class="search-box-footer-inner-label">23</span></label>
                        <img src="images/search/glass.png" />
                </div>
                <span style="position:absolute; right:5%; bottom:40%;"><a href="#win1">Расширенный поиск</a></span>
            </div>
        </div>
        
    </div>
</div>




