@{
    ViewData["Title"] = "Карточка объекта";
}

@ViewData["Data"]

<div class="search-result">
    <div class="search-box-head">
        <div class="row">
            <div class="=col-lg-3"></div>
            <div class="col-lg-9"></div>
        </div>
        <div class=""
        
    </div>
</div>