@using RGR.Core.Common.Enums;
@using RGR.Core.Controllers;
@using RGR.Core.Views.Helpers;

@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;

@{
    ViewData["Title"] = "Карточка объекта";
}
<div class="content-inner">    
    <div class="search-result">
        @SearchResult.FullResult((string)ViewData["Data"])
        @SearchResult.RightBarResult((string)ViewData["Data"])
    </div>    
</div>