@using RGR.Core.Common.Enums;
@using RGR.Core.Controllers;
@using RGR.Core.Views.Helpers;

@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;

@{
    ViewData["Title"] = "Карточка объекта";
}
<div class="content-inner">
<<<<<<< HEAD
    @SearchResult.FullResult((string)ViewData["Data"])
=======
    <div class="search-result">
        @SearchResult.FullResult((string)ViewData["Data"])
        @SearchResult.RightBarResult((string)ViewData["Data"])
    </div>
    <br />
    <br />
    <br />
    <br />
>>>>>>> refs/heads/master
</div>