@using RGR.Core.Common;
@using RGR.Core.Controllers;
@using RGR.Core.Views.Helpers;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;

@{
    ViewData["Title"] = "Карточка объекта";
    var pasport = JsonConvert.DeserializeObject<FullPassport>((string)ViewData["Data"]);
}

@{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(initFullResult);
        var mapFullResult,
            markFullResult;

        function initFullResult() {

            mapFullResult = new ymaps.Map("full-result-map", {
                center: [@pasport.Latitude.ToString().Replace(',','.'), @pasport.Longitude.ToString().Replace(',', '.')],
                zoom: 14
            });
            markFullResult = new ymaps.Placemark([@pasport.Latitude.ToString().Replace(',','.'), @pasport.Longitude.ToString().Replace(',', '.')], {
                hideIconOnBalloonOpen: false,
                style: "default#bluePoint"
            });
            mapFullResult.geoObjects.add(markFullResult);
        }

    </script>
}
<div class="content-inner">
    <div class="search-result">
        @SearchResult.FullResult((string)ViewData["Data"])
        @SearchResult.RightBarResult((string)ViewData["Data"])        
    </div>    
</div>
